* {
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: sans-serif;
}
.header {
    background-color: #0769e9;
    height: 80px;
    position: fixed;
    width: 100%;
}
.nav {
    display: flex;
    justify-content: space-between;
}
.nav-link {
    color: #fff;
    text-decoration: none;
}
.logo {
    font-size: 30px;
    font-weight: bold;
    padding: 0 40px;
    line-height: 80px;
}
.nav-menu {
    display: flex;
    margin-right: 40px;
    list-style: none;
}
.nav-menu-item {
    font-size: 18px;
    margin: 0 10px;
    line-height: 80px;
    text-transform: uppercase;
    width: max-content;
}
.nav-toggle {
    background: none;
    border: none;
    cursor: pointer;
    color: #fff;
    font-size: 30px;
}